.navbar-bootsnipp {
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    margin-bottom: 0px;
    z-index: 100;
    padding: 0 30px 0 32px;
    box-shadow: 4px 4px 2px #888888;
}

.navbar-bootsnipp:nth-of-type(2) {
    border-top-width: 1px;
    z-index: 50
}

.nav_list:hover {
    color: #00c0cc;
}

.animate:hover {
    color: #00c0cc;
}

.skill_btn:hover {
    color: #00c0cc;
    border-color: #00c0cc;
}

.navbar-bootsnipp.affix-top {
    position: absolute;
    top: 0px;
    width: 100%;
}

.navbar-bootsnipp.affix {
    top: 0px;
    width: 100%;
}

.navbar-bootsnipp .navbar-toggle .icon-bar {
    background-color: rgb(95, 176, 228);
}

.navbar-bootsnipp .navbar-brand {
    color: rgb(95, 176, 228);
}

.navbar-bootsnipp .navbar-nav>li>a {
    border: 0px solid rgb(95, 176, 228);
    color: rgb(120, 120, 120);
    padding: 15px 14px;
}

.navbar-bootsnipp .navbar-nav>li>form>.input-group>input,
.navbar-bootsnipp .navbar-nav>li>form>.input-group>.input-group-btn>.btn {
    border-radius: 0px;
}

.navbar-bootsnipp .navbar-nav>li:not(.disabled).open>a,
.navbar-bootsnipp .navbar-nav>li:not(.disabled).active>a,
.navbar-bootsnipp .navbar-nav>li:not(.disabled)>a:hover,
.navbar-bootsnipp .navbar-nav>li:not(.disabled)>a:focus {
    /*border-left-width: 5px;
    color: rgb(95, 176, 228);
    padding-left: 10px;*/
    background: transparent;
}

.navbar-bootsnipp .navbar-nav>li.disabled>a {
    color: rgb(200, 200, 200);
}

.navbar-bootsnipp .navbar-nav>li>.dropdown-menu {
    border-radius: 0;
    margin-right: -1px;
    min-width: 220px;
    padding: 0px;
}

.navbar-bootsnipp .navbar-nav>li:not(.dropdown-right)>.dropdown-menu {
    left: 0px;
    margin-left: -1px;
    right: auto;
}

.navbar-bootsnipp .navbar-nav>li>.dropdown-menu>li>a {
    color: rgb(120, 120, 120);
    padding: 10px 20px;
    white-space: nowrap;
}

.navbar-bootsnipp .navbar-nav>li>.dropdown-menu>li.active>a,
.navbar-bootsnipp .navbar-nav>li>.dropdown-menu>li>a:hover,
.navbar-bootsnipp .navbar-nav>li>.dropdown-menu>li>a:focus {
    /*background-color: rgb(245, 245, 245);*/
    background: transparent;
    /*border-left-width: 5px;*/
    padding-left: 15px;
}

.navbar .bootsnipp-profile>a {
    padding-bottom: 9px;
    padding-top: 9px;
}

.navbar .bootsnipp-profile>a>img {
    border-radius: 50%;
    width: 32px;
}

.navbar .bootsnipp-profile>.dropdown-menu {
    width: 320px;
}

.navbar .bootsnipp-profile>.dropdown-menu>li>.row {
    padding: 5px 15px;
}

.navbar .bootsnipp-profile>.dropdown-menu>li>.row img {
    width: 100%;
}

.navbar-bootsnipp .bootsnipp-search {
    display: none;
}

.navbar-bootsnipp .bootsnipp-search .form-control {
    background-color: rgb(235, 235, 235);
    border-radius: 0px;
    border-width: 0px;
    padding: 30px 0px;
}

.navbar-bootsnipp .bootsnipp-search .form-control {
    /*background-color: rgb(235, 235, 235);*/
    border-radius: 0px;
    border-width: 0px;
    padding: 25px 0px;
}

.navbar-bootsnipp .bootsnipp-search .form-control:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-bootsnipp .bootsnipp-search .input-group-btn>.btn {
    padding: 14px 16px;
    border-radius: 0px;
}

.navbar-bootsnipp .bootsnipp-search .input-group-btn>.btn.active,
.navbar-bootsnipp .bootsnipp-search .input-group-btn>.btn:hover,
.navbar-bootsnipp .bootsnipp-search .input-group-btn>.btn:focus {
    /*padding: 14px 16px 14px 15px;*/
    background: transparent;
    border-bottom: 1px solid #00c0cc;
}

.navbar-bootsnipp .bootsnipp-search .input-group-btn>.btn-default {
    background-color: rgb(245, 245, 245);
}

.nav-padding {
    padding-top: 61px;
}

@media screen and (min-width: 768px) {
    .navbar-bootsnipp .navbar-brand {
        height: auto;
        padding: 15px 5px;
    }
    .navbar-bootsnipp .navbar-nav>li>a {
        font-size: 16px;
        letter-spacing: 1px;
    }
    .navbar-bootsnipp .navbar-nav>li:not(.disabled).open>a,
    .navbar-bootsnipp .navbar-nav>li:not(.disabled).active>a,
    .navbar-bootsnipp .navbar-nav>li:not(.disabled)>a:hover,
    .navbar-bootsnipp .navbar-nav>li:not(.disabled)>a:focus {
        /*border-bottom-width: 5px;
        border-left-width: 0px;
        padding-bottom: 10px;
        padding-left: 14px;*/
        background: transparent;
        border-bottom: 1px solid #00c0cc;
    }
    .navbar-bootsnipp .navbar-nav>li.disabled>a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar-bootsnipp .bootsnipp-search {
        background-color: rgb(235, 235, 235);
        display: block;
        position: absolute;
        top: 100%;
        width: 100%;
        -webkit-transform: rotateX(-90deg);
        -moz-transform: rotateX(-90deg);
        -o-transform: rotateX(-90deg);
        -ms-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        -webkit-transform-origin: 0 0 0;
        -moz-transform-origin: 0 0 0;
        -o-transform-origin: 0 0 0;
        -ms-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        visibility: hidden;
    }
    .navbar-bootsnipp .bootsnipp-search.open {
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        transform: rotateX(0deg);
        visibility: visible;
    }
    .navbar-bootsnipp .bootsnipp-search>.container {
        padding: 0px;
    }
}

.skill_img {
    float: left;
}

.nav_img {
    padding-top: 5px;
    width: 24%;
}

.skill_btn {
    margin-top: -3px;
    padding: 6px 8px 8px 8px;
    border: 1px solid #494949;
    border-radius: 4px;
    font-size: 14px;
}

.nav_list {
    font-size: 14px;
}


/*main content css*/

.img_sec {
    margin-left: 25%;
    width: 50%;
    border: 2px solid lightgrey;
    border-radius: 50%;
    padding: 30px;
}

.img {
    text-align: center;
}

.main_content_sec {
    text-align: center;
    padding-top: 50px;
}

.fa-user-o,
.fa-list-alt,
.fa-exchange,
.fa-bar-chart {
    font-size: 40px !important;
    border: 2px solid lightgrey;
    padding: 29px 28px;
    border-radius: 50px;
}

.expert_header {
    padding-top: 40px;
    font-size: 30px;
    font-family: 'gotham-light', sans-serif;
}

.expert_sec {
    margin-top: 50px;
}

.content_sec {
    padding-top: 40px;
}

.content_head {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    font-family: 'gotham-light', sans-serif;
}

.content_desc {
    font-size: 14px;
    color: grey;
    font-family: 'gotham-light', sans-serif;
}

.main_sec {
    width: 70%;
}


/*handpick sec*/

.handpick_sec {
    text-align: center;
    background: #f2f2f2;
    padding-bottom: 50px;
}

.no_padding {
    padding: 0px;
    margin: 0px;
}

.fa-handshake-o,
.fa-home,
.fa-address-card,
.fa-bullseye {
    font-size: 40px !important;
    border-radius: 50px;
}

.hand_inner {
    text-align: center;
    border: 1px solid lightgrey;
    background: #fff;
}

.handpick_header {
    padding-top: 40px;
    font-size: 30px;
    padding-bottom: 25px;
    font-family: 'Roboto', sans-serif;
}

.handpick_sec {
    margin-top: 40px;
}

.handpick_head {
    font-size: 20px;
    font-weight: 400;
    background: #fff;
    color: #494949;
    margin-bottom: 0px;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
}

.handpick_desc {
    color: #494949;
    font-size: 15px;
    background: #fff;
    font-family: 'Roboto', sans-serif;
}

.handpick_img {
    padding: 25px 20px;
    background: #fff;
}

.hand_inner {
    width: 265px;
}

.left_sift {
    margin-left: 5%;
}

.hand_content {
    font-size: 14px;
    color: darkgrey;
}


/*center css*/

.center_sec {
    text-align: center;
    padding-bottom: 50px;
}

.center_content {
    padding: 30px 0;
}

.fa-cogs {
    font-size: 50px !important;
    border-radius: 50px;
}

.center_head {
    padding: 60px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.text {
    font-size: 14px;
    font-weight: 400;
}

.center_wid {
    /*margin-left: 100px;*/
    /*width: 80%;*/
}

.left_bor {
    border-right: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
}

.rgt_bor {
    border-left: 2px solid lightgrey;
    border-bottom: 2px solid #fff;
}

.bot_bor {
    border-bottom: 2px solid lightgrey;
}

.bot_center {}

.top-bor {
    border-top: 2px solid lightgrey;
}


/*client css*/

.client_sec {
    background: lightgrey;
    text-align: center;
}

.client_head {
    padding: 50px 0 00px 0;
    font-size: 30px;
    font-weight: 400;
}

.client_desc {
    padding: 10px 0 20px 0;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.center_bottom {
    margin-left: -2.5px;
}

.center_img {
    width: 80px;
}


/*radiobtn css*/

input [type="radio"]:checked+label:before {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 6px;
    content: "";
    display: inline-block;
    font-size: 24px;
    height: 20px;
    width: 20px;
    /*line-height: 16px;*/
    padding: 10px 6px 0 0;
    text-align: center;
    vertical-align: middle;
}

input [type="radio"]+label:before {
    content: "\2022";
}

.right {
    float: right;
}

.footer {
    background-color: rgb(41, 62, 74);
    color: #fff;
    min-height: 55px;
    font-size: 15px;
    padding: 10px 30px;
    font-weight: 400;
}


/*end radio*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
    .left_bor,
    .rgt_bor,
    .bot_bor {
        border: none;
    }
    .center_wid {
        margin-left: 0px;
        width: 100%;
    }
    .center_img {
        width: 40%;
    }
    .skill_img {
        display: none !important;
    }
    .navbar-bootsnipp {
        background-color: transparent;
        border-color: #494949;
        border-radius: 0px;
        margin-bottom: 0px;
        z-index: 100;
        padding: 0 10px;
    }
    .navbar-header {
        background: transparent;
    }
    .fa-bars {
        font-size: 35px !important;
        color: #fff;
    }
    .text {
        font-size: 16px;
    }
    .navbar {
        border: none;
    }
    .left_sift {
        margin-left: 13%;
    }
    .navbar-bootsnipp {
        box-shadow: none;
        background: #fff;
    }
}