<!DOCTYPE html>
<html lang="en" ng-app="myapp">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>validate</title>
    <link rel="stylesheet" href="test.css">

    <script src="angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!--<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyD-FT6AjdsVJdQwyDndI-QNABu9Ucw58JQ"></script>-->
</head>

<body ng-controller="appcontroller as vm">
    <h1>{{v1.name}} </h1>
    <label for="enter ">Enter a user name</label>
    <input type="text" ng-model="user.name" name="enter">
    <input type="text" ng-model="repo.name" name="enter">
    <button ng-click="vm.fetchData(user,repo)">Search</button>
    <div class="col-md-offset-2 card">
        <h4>Name/Repo- {{vm.name}}/{{repo.name}}</h4>
        <h3>Picture</h3> <img ng-src="{{vm.AbsoluteImageUrl}}" alt=""> 
        <h3>Total Closed - {{vm.close}}</h3>
        <br> 
        <h3>Assigns- {{vm.assign}}</h3>
    </div>


    <!-- /container -->
</body>
<script src="script.js"></script>

</html>